@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
.App {
  text-align: center;
}

.App-logo {
  height: 25vmin;
  pointer-events: none;
  border: solid  5px #0d2033;
  
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    background-color: #3881ca;
    width: 100%;
    
   
    
  }
  

  .pie-pagina{
    width: 100%;
    background-color: #3881ca;
    border: 5px #0a1a2a solid;
   

}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    padding: 45px 0px;
   
}
.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}
.pie-pagina .grupo-1 .box figure img{
    width: 250px;
}
.pie-pagina .grupo-1 .box h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
    color: #efefef;
    margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #0d2033;
    text-align: center;
    transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover{
    color: aqua;
}
.pie-pagina .grupo-2{
    background-color: #0a1a2a;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}
.pie-pagina .grupo-2 small{
    font-size: 15px;
}
@media screen and (max-width:800px){
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0px;
    }
}
.navbar navbar-expand-lg bg-light{
  background-color: #0a1a2a;
  padding: 10px;
  font-family: fantasy;
  
}
.nav-item{
  border: solid #0a1a2a;
  border-radius: 10px;
  margin: 0px 5px 20px 5px;
  
}
#colorfont{
  color: #0a1a2a;
}
.nav-item :hover{
  background-color: #3881ca;
  border-radius: 7px;
}
.mb-3{
  margin: 30px ;
}
.form-control{
  text-align: right;
}
.box{
  padding: 1rem;
  margin: 1rem;
  box-shadow: 0 0 1rem #00000025 inset;
}
.grid-responsive{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
}
.button{
  padding: 5px;
  margin: 5px;
  border-radius: 7px;
}
.button :hover{
  background-color: #3881ca;
  
}
#boton :hover{
  background-color: #3881ca;
}
.formulario{
  text-align: inherit;
  margin: 10px;
  padding: 15px;
  text-align: left;
}
#exampleFormControlInput1{
  background-color: #d8dce0;
  width: 50%;
  align-items: center;
}
#label{
  text-align: center;
}



}




